<!DOCTYPE html>
<html ng-app='davesApp'>
  <head>
    <link rel="stylesheet" href="styles.css">
    <meta charset="utf-8">
    <title>David Project</title>
  </head>
  <body ng-controller='mainCtrl'>
{{test}}


<div class="">
  <ui-view></ui-view>
</div>


  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.3/angular-ui-router.min.js"></script>
  <script src="./app.js" charset="utf-8"></script>
  <script src="./js/controllers/mainCtrl.js" charset="utf-8"></script>
  <script src="./js/controllers/aboutCtrl.js" charset="utf-8"></script>
  <script src="./js/controllers/testimonialsCtrl.js" charset="utf-8"></script>
  <script src="/styles.css" charset="utf-8"></script>

  </body>
</html>
